.container{
    width: 100%;
    text-align: center;

}
.title{
    font-size: 32px;
}
.imageCard{
    aspect-ratio: 16/9;
    padding:0px;
}
.containerModal .ant-modal-content{
    text-align: center;
    width: 100%;
    border-radius: 50px;
}
.content{
    text-align: left;
}